EasySave_V1.1/EasyLog/obj
EasySave_V1.1/EasyLog/bin
EasySave_V1.1/EasySave/obj
EasySave_V1.1/EasySave/bin
EasySave_V2.0/EasySave.UI/obj
###############################
#   VISUAL STUDIO / DOTNET   #
###############################


# Visual Studio cache
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

# NuGet
*.nupkg
*.snupkg
packages/
.nuget/
project.lock.json
project.fragment.lock.json
artifacts/



# Publish output
publish/
*.appx
*.appxbundle
*.msix
*.msixbundle

###############################
#        OS SPECIFIC         #
###############################

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# macOS
.DS_Store
.AppleDouble
.LSOverride

###############################
#        TEST RESULTS        #
###############################

TestResults/
*.coverage
*.coveragexml


###############################
#        CONFIG FILES        #
###############################

# User-specific config
appsettings.Development.json
appsettings.Local.json


